go 1.19

use (
	./appeal-gateway
	./appeal-gateway/rpc/appeal
	./appeal-gateway/rpc/mq_server
	./attendance-gateway
	./attendance-gateway/rpc/attend
	./attendinfo-gateway
	./attendinfo-gateway/rpc/info
)
